<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.ReturnListDao">

    <resultMap id="ReturnListBaseResultMap" type="com.atguigu.jxc.entity.ReturnList">
        <result column="return_list_id" property="returnListId" jdbcType="INTEGER" />
        <result column="return_number" property="returnNumber" jdbcType="VARCHAR" />
        <result column="return_date" property="returnDate" jdbcType="VARCHAR" />
        <result column="amount_paid" property="amountPaid" jdbcType="DOUBLE" />
        <result column="amount_payable" property="amountPayable" jdbcType="DOUBLE" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
        <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    </resultMap>
    <delete id="deleteReturnListGoods">
        delete from t_return_list_goods where return_list_id = #{returnListId}
    </delete>
    <delete id="deleteReturnList">
        delete from t_return_list where return_list_id = #{returnListId}
    </delete>

    <select id="list" resultMap="ReturnListBaseResultMap">

        select
        t1.return_list_id,
        t1.return_number,
        t1.return_date,
        t1.amount_paid,
        t1.amount_payable,
        t1.remarks,
        t1.state,
        t1.supplier_id,
        t1.user_id,
        t2.supplier_name,
        t3.true_name
        from t_return_list t1
        LEFT JOIN t_supplier t2
        on t1.supplier_id = t2.supplier_id
        LEFT JOIN t_user t3
        on t1.user_id = t3.user_id

        <where>

            <if test="returnNumber != null and returnNumber != ''">
                AND t1.return_number LIKE CONCAT('%', #{returnNumber} ,'%')
            </if>

            <if test="supplierId != null and supplierId != ''">
                AND t1.supplier_id = #{supplierId}
            </if>

            <if test="state != null and state != ''">
                AND t1.state = #{state}
            </if>

            <if test="t1 != null and t1 != ''">
                AND t1.return_date >= #{t1}
            </if>

            <if test="t2 != null and t2 != ''">
                AND t1.return_date &lt;= #{t2}
            </if>

        </where>


    </select>
    <select id="listGoods" resultType="com.atguigu.jxc.entity.ReturnListGoods">
        select
            return_list_goods_id as returnListGoodsId,
            goods_id as goodsId,
            goods_code as goodsCode,
            goods_name as goodsName,
            goods_model as goodsModel,
            goods_unit as goodsUnit,
            goods_num as goodsNum,
            price,
            total,
            return_list_id as returnListId,
            goods_type_id as goodsTypeId
        from t_return_list_goods
        where return_list_id = #{returnListId}

    </select>
    <select id="findReturnListGoodsVos" resultType="com.atguigu.jxc.vo.ReturnListGoodsVo">
        select
            t1.return_number as number,
            t1.return_date as date,
            t3.supplier_name as supplierName,
            t2.goods_code as code,
            t2.goods_name as name,
            t2.goods_model as model,
            t4.goods_type_name as goodsType,
            t2.goods_unit as unit,
            t2.price,
            t2.goods_num,
            t2.total


        FROM t_return_list t1

        LEFT JOIN t_return_list_goods t2 on t1.return_list_id = t2.return_list_id

        LEFT JOIN t_goods_type t4 on t2.goods_type_id = t4.goods_type_id

        LEFT JOIN t_supplier t3 ON t1.supplier_id = t3.supplier_id

        <where>
            <if test="start != null">
                and t1.return_date >= #{start}
            </if>
            <if test="end != null">
                AND t1.return_date &lt;= #{end}
            </if>
            <if test="goodsTypeId != null">
                and t2.goods_type_id  #{goodsTypeId}
            </if>
            <if test="codeOrName != null">
                and (
                    t2.goods_code = #{codeOrName}
                    or
                    t2.goods_name like CONCAT('%',#{codeOrName},'%')
                )
            </if>
        </where>
    </select>
</mapper>
